#myservices {
  height: 310px !important;
}

#feedback{
  height: 270px;
  width: 550px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#feedbackimage{
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

#start{
  background-image: url(assets/img/illustrations/illustration-13.svg);
  background-repeat: repeat;
  background-size: cover;
}
#commas{
  font-size: 30px;
  color: #800080;
}
#parentname{
  font-size: 18px;
  color:  #800080;
}
#certis{
  height: 370px;
  width: 570px;
}
#certi{
  height: 450px;
  width: 600px;
}
#certificatesmobile{
  display: none;
}
#certificates{
  display: block;
}
#fixedbutton {
  position: fixed;
  bottom:5%;
  right: 3%;

 
}
#whatsapp{
  height: 110px;
  width: 110px;
}
#businessimage{
  height: 600px;
  width: 900px;
}

@media only screen and (max-width: 600px) {
  #businessimage{
    height: 200px;
    width: 300px;
  }
  #fixedbutton {
    position: fixed;
    bottom:5%;
    right: 3%;
  
   
  }
  #whatsapp{
    height: 60px;
    width: 60px;
  }
  
  #certificates{
    display: none;
  }
#certificatesmobile{
  display: block;
}
#certimobile{
  height: 240px;
  width: 100%;
}
  #myservices {
    height: 280px !important;
  }
  #feedback{
    height: 370px;
    width: 280px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #feedbackimage{
    height: 100px;
    width: 100px;
  }

#certis{
  height: 200px;
  width: 100%;
}
#certi{
  height: 450px;
  width: 100%;
}
}
